DB_NAME=cdss_db
DB_USER=cdss_user
DB_PASSWORD=your_password_here
DB_HOST=35.234.39.234
DB_PORT=3306
SECRET_KEY=your_secret_key_here
AI_SERVER_URL=http://127.0.0.1:8001
GCS_MEDIA_BUCKET=
GCS_PROJECT=
CLINICAL_REPORT_FONT_PATH=
